/*
.cm-h {
} */

.cm-h {
  --pb-start: 28;
  --pi:90;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding-block-start: calc(var(--pb-start) / 16 * 1rem);
  padding-inline: calc(var(--pi) / 1440* 100%);

  @media (max-width:768px) {
    position: relative;
    padding-inline: max(18 / 16 * 1rem, 5%);
  }
}

.cm-h-inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}


.cm-h__logo {
  z-index: 99;
}


.cm-h__logoLink{
  font-size: fluid(14px 28px);
  line-height: 1.5;
  letter-spacing: var(--tracking-normal);
}
