/*
.cm-h {
} */

.cm-h {
  --space: 32;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding-block-start: calc(var(--space) / 16 * 1rem);
  padding-inline: calc(32 / 1440* 100%);

  /* @media (--tb) {
    padding-block: calc(var(--space) / 16 * 1rem);
    padding-inline: 5%;
  } */
}

.cm-h-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* @media (--tbpro) {
    align-items: center;
  } */
}

.cm-h-logo {
  width: calc(80 / 16 * 1rem);

  /* @media (--tb) {
    width: calc(70 / 16 * 1rem);
  } */
}
