/*
.cm-menu {
} */

.cm-h__navMenu {
  display: none;

  @media (max-width:768px) {
    --height: 18;

    position: fixed;
    top: calc(29 / 16 * 1rem);
    right: 5%;
    z-index: 99;
    display: inline-block;
    display: grid;
    width: auto;
    height: calc(var(--height) / 16 * 1rem);
    padding-inline-start: 1em;
    appearance: none;
    background-color: transparent;
    border: 0;
  }
}

.cm-h__navMenuItem {
  position: relative;
  display: block;
  grid-area: 1 / 1;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: var(--tracking-normal);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);

  /* transition-property: background-color; */

  /* &.--open{

  } */

  &.is-active{
    visibility: visible;
    opacity: 1;
  }

  &.--open::before{
    --width: 10;
    --height: 10;

    position: absolute;
    top: 3px;
    bottom: 0;
    left: -1em;
    width: calc(var(--width) / 16 * 1em);
    height: calc(var(--height) / 16 * 1em);
    margin: auto 0;
    content: "";
    background-color: var(--color-accent);
    border-radius: 100vmax;
    transition: var(--transition);
    transition-property: top, transform, background-color;
    }



  &.--close::before,
  &.--close::after {
      position: absolute;
      left: -1em;
      width: 12px;
      height: 1px;
      content: "";
      background-color: var(--color-accent);
      transition: var(--transition);
      transition-property: top, transform, background-color;
    }

    &.--close::before {
      top: 11px;
      rotate: -45deg;
    }

    &.--close::after {
      top: 11px;
      rotate: 45deg;
    }



  & .txt{
    --fs:12;
    position: relative;
    display: block;

    font-size: calc(var(--fs) / 16 * 1rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: var( --tracking-normal);

    /* &::before{
      --width:10;
      --height:10;

      position: absolute;
      left: 0;
      width: calc(var(--width) / 16 * 1em);
      height: calc(var(--height) / 16 * 1em);
      content: "";
      background-color: var(--color-accent);
      border-radius: 100vmax;
      transition: var(--transition);
      transition-property: top, transform, background-color;
    } */

  }

}


html.is-menuopen .navMenuLine {
  background-color: transparent;

  &::before,
  &::after{
  top: 0;
  transition: var(--duration-fast) var(--ease-in-out);
  transition-property: top, transform, background-color;
  }

  &::before{
  background-color: #212121;
  transform: rotate(-45deg);
  }

  &::after{
  background-color: #212121;
  transform: rotate(45deg);

  }
}
