.p-about__main{
  overflow: hidden;
}

.p-about__content{
  display: grid;
gap: fluid(64px 80px);
}

.p-about__mainBody{
  gap: fluid(40px 80px);
}

.p-about__bodyIndexList{

  @media (max-width:540px){
    --row-gap:24;

    width: clamp(calc(216 / 16 * 1rem),calc(216 / 375 * 100vw),calc(250 / 16 * 1rem));
  }

  & .item__link{
    font-weight: 700;
  }
}



/* ========================
    Profile
======================== */

.p-about__contentProfileCard{

  .body{
  --pb-end:28;

  gap: fluid(28px 84px);
  justify-content: space-between;
  padding-block: fluid(18px 42px) calc(var(--pb-end) / 16 * 1rem);
  padding-inline: fluid(15px 34px) fluid(18px 39px);

  @media (max-width:880px){
    flex-direction: column-reverse;
  }


  @media (max-width:768px){
    --pb-end:55;
  }
}

@media (max-width:880px){
  flex-direction: column;
}


  & .body__item{
    width: calc(541 / 1154* 100%);

    @media (max-width:880px){
      width: 100%;
    }
  }

  & .body__itemName{
    display: flex;
    gap: fluid(12px 24px);
    align-items: baseline;
    margin-block-end: fluid(12px 28px);
  }

  & .body__nameItem{
    line-height: 1;
  }

  & .body__itemNameJa{
    font-size: fluid(16px 28px);
    font-weight: 700;
    letter-spacing: var(--tracking-normal);
  }

  & .body__itemNameEn{
    font-size: fluid(14px 24px);
    font-weight: 700;
  }

  & .body__itemTxt{
    font-size: fluid(14px 20px);
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: var(--tracking-normal);

    & + .body__itemTxt{
      margin-block-start: fluid(12px 24px);
    }
  }

  & .p-about__slideBlock{
    width: calc(502 / 1154* 100%);

    @media (max-width:880px){
      width: 88%;
    }
  }
}

/* *{
  outline: 1px solid red;
} */


.p-about__slideBlockSwiperSlide{
  --radius:20;

  aspect-ratio: 502 / 395;
  overflow: hidden;
  border-radius: calc(var(--radius) / 16 * 1rem);

  @media (max-width:768px){
    aspect-ratio: 204 / 160;
  }

}




/* ========================
    Favorite
======================== */
.p-about__contentFavorite{

  & .body{
    --gap:74;
    --pb-start:46;
    --pb-end:46;
    --pi-start:40;
    --pi-end:32;

    flex-direction: row;
    gap: 0 fluid(28px 74px);
    padding-block: fluid(18px 46px) fluid(26px 46px);
    padding-inline: fluid(22px 40px) fluid(20px 32px);

    @media (max-width:768px){
      flex-direction: column-reverse;
      gap: fluid(28px 74px) 0;
    }
  }

  & .body__item{
    width: calc(660 / 1154* 100%);

    @media (max-width:880px){
      width: 100%;
    }
  }

  & .body__itemTitle{
    margin-block: fluid(10px 12px) fluid(20px 30px);
    font-size: fluid(18px 32px);

  }

  & .body__itemSubtitle{
    @media (max-width:880px){
      word-break: keep-all;
      overflow-wrap: break-word;
    }
  }


  & .body__itemTxt{
    font-size: fluid(14px 20px);
    line-height: 1.75;
  }

  & .body__img{
    width: calc(420 / 1154* 100%);

    @media (max-width:880px){
      width: 100%;
    }
  }

  & .body__imgBody{
    aspect-ratio: 420 / 315;
    margin: 0 !important;

    @media (max-width:768px){
      aspect-ratio: 226 / 169;
    }
  }
}




/* ========================
    Career
======================== */

.p-about__contentCareerCard{
  --width:1083;

  width: calc(var(--width) / 1440 * 100vw);

  @media (max-width:880px){
    width: 100%;
  }

  &:nth-of-type(2n){
    --mi-end:35;

    margin-inline-start: auto;
    margin-inline-end: calc(var(--mi-end) / 1440 * 100vw);

    @media (max-width:880px){
      margin-inline-start: auto;
      margin-inline-end: auto
    }

    & .body__img{
      @media (max-width:768px){

        margin-inline-start: calc(var(--mi) / 16 * 1rem);
        rotate: -5deg;

      }
    }
  }

  & + .p-about__contentCareerCard{
    --mb-start:48;
    margin-block-start: calc(var(--mb-start) / 16 * 1rem);
  }

  & .body{
    --gap:40;

    padding-block-start: fluid(25px 44px);
    padding-block-end: fluid(18px 44px);
    padding-inline: fluid(20px 77px);

    @media (max-width:768px){
      flex-direction: column-reverse;
      padding-block-start: clamp(25 / 16 * 1rem, 25 / 375 * 100vw, 44 / 16 * 1rem);
    }
  }

  & .body__item{
    width: calc(502 / 929* 100%);

    @media (max-width:768px){
      width: 100%;
    }
  }

  & .body__itemTitle{
    --mb-end:16;

    margin-block-end: calc(var(--mb-end) / 16 * 1rem);
    font-size: fluid(16px 24px);

    @media (max-width:768px){
      --mb-end:28;
    }
  }

  & .body__itemTxt{
    font-size: fluid(14px 20px);
    line-height: 1.8;
  }

  & .body__img{
    --radius:20;

    width: calc(387 / 929* 100%);
    background-image: url(../../../assets/images/about_carrer_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: fluid(8px 20px);


    @media (max-width:768px){
      --mi:-12;

      width: max(calc(226 / 16 * 1rem), calc(226 / 375 * 100vw));
      margin-inline-end: calc(var(--mi) / 16 * 1rem);
      rotate: 5deg;
    }
  }

  & .body__imgBody{
    --pi:38;
    --pb:15;
    --viewport:1440;

    position: relative;
    z-index: 2;
    aspect-ratio: 387 / 250;
    padding: calc(var(--pb) / var(--viewport) * 100vw) calc(var(--pi) / var(--viewport) * 100vw);
    margin: 0 !important;

    @media (max-width:880px){
      --viewport:1280;
    }

    @media (max-width:768px){
      --pi:22;
      --pb:8;
      --viewport:320;

      aspect-ratio: 226 / 146;
    }
  }
}

/* ========================
    Skill
======================== */

.p-about__contentSkillCard{
  & .body{
    --radius:20;

    padding-block: fluid(18px 25px) fluid(24px 25px);
    padding-inline: fluid(20px 39px) fluid(20px 108px);
    background-color: var(--base-background-color);
    border-radius: calc(var(--radius) / 16 * 1rem);

  }

  & .body__title{
    font-size: fluid(16px 24px);
    font-weight: 600;
    letter-spacing: var(--tracking-normal);
  }

  & .body__txt{
    width: calc(100% - 115 / 16 * 1rem);
    margin-block-start: fluid(28px 35px);
    margin-inline-start: auto;

    @media (max-width:880px){
      width: 100%;
    }
  }


  & .body__txtSentence{
    font-size: fluid(14px 20px);
    line-height: var(--leading-relaxed);

    & + .body__txtSentence{
      margin-block-start: fluid(14px 24px);
    }
  }

  & .body__dev{
    --mb-start:32;
    margin-block-start: fluid(18px 32px);

    @media (max-width:375px){
      width: calc(226 / 375 * 100vw);
    }
  }

  & .body__devList{
    --column-gap:32;
    --row-gap:0;

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--row-gap) / 16 * 1rem) calc(var(--column-gap) / 16 * 1rem);
    align-items: center;

    @media (max-width:768px){
      --column-gap:36;
      --row-gap:18;
    }
  }

  & .body__devListItem{
    font-size: fluid(16px 20px);
    font-weight: 500;

    @media (max-width:768px){
      line-height: 1;
    }
  }

}
