@charset "UTF-8";

/*
.cm-under {
} */


.cm-under__hero-inner{
  --max-container-size: 1720px;
  --container-size-md: 1110px;

  padding-inline: calc(90 / 1440 * 100vw) calc(150 / 1440 * 100vw);

  @media (max-width:768px){
    padding-inline: clamp(calc(16 / 16 * 1rem), calc(16 / 320 * 100vw), calc(90 / 16 * 1rem)) clamp(calc(26 / 16 * 1rem), calc(26 / 320 * 100vw), calc(150 / 16 * 1rem));
  }
}

.cm-under__heroTitle{
  display: flex;
  /* gap: calc(24 / 16 * 1em); */
  align-items: center;
  justify-content: flex-start;
  margin-block-end: fluid(24px 36px);
}

.cm-under__heroTitleNames{
  display: grid;

  & .main{
  font-size: calc(48 / 16 * 1em);
  font-weight: 500;
  line-height: var(--leading-tight);
  text-indent: -0.1em;
  letter-spacing: var(--tracking-normal);

    @media (max-width:1024px){
      --fs-min:24;
      --fs-max:48;
      --viewport:1024;

      font-size: clamp(calc(var(--fs-min) / 16 * 1em), calc(var(--fs-max) / var(--viewport) * 100vw), calc(var(--fs-max) / 16 * 1em));
    }
  }

  & .sub{
    display: block;
    order: -1;
    font-family: var(--font-sans-en);
    font-size: calc(20 / 16 * 1em);
    font-style: normal;
    font-weight: 400;
    letter-spacing: var(--tracking-normal);

    @media (max-width:1024px){
      --fs-min:14;
      --fs-max:20;

      font-size: clamp(calc(var(--fs-min) / 16 * 1em), calc(var(--fs-max) / var(--sentence-fs-viewport) * 100vw), calc(var(--fs-max) / 16 * 1em));
    }
  }
}


.cm-under__heroTitleImg{
  order: -1;
}

.cm-under__heroImg{
  display: flex;
  gap: calc(59 / 16 * 1rem);
  align-items: flex-end;
  justify-content: space-between;
  width: auto;

  @media (max-width:1024px){
    gap: min(calc(32 / 6 * 1rem), calc(59 / 1024 * 100vw));
  }
}

.cm-under__heroImgItem{
  --radius:20;

  aspect-ratio: 1110 / 414;
  margin: 0 !important;
  overflow: hidden;
  border-radius: calc(var(--radius) / 16 * 1rem);

  @media (max-width:768px){
    aspect-ratio: 261 / 152;
  }
}

.cm-under__main-inner{

  .p-about__main &{
    --max-container-size: 1920px;
    --container-size-md: 1226px;
    --pi-start:90;
    --pi-end:34;
    --viewport:1440;

    padding-inline: calc(var(--pi-start) / var(--viewport) * 100vw) calc(var(--pi-end) / var(--viewport) * 100vw);

    @media (max-width:768px){
      --pi-start:18;
      --pi-end:18;
      --viewport:320;

    }
  }

  .p-product__main &{
    --max-container-size: 1920px;
    --container-size-md:1110px;
    --pi-start:90;
    --pi-end:20;
    --viewport:1440;

    padding-inline: calc(var(--pi-start) / var(--viewport) * 100vw) calc(var(--pi-end) / var(--viewport) * 100vw);

    @media (max-width:768px){
      --pi-start:16;
      --pi-end:16;
      --viewport:320;
    }
  }

  .p-detail &{
    --pi-start:165;
    --pi-end:165;
    --viewport:1440;

    padding-inline: calc(var(--pi-start) / var(--viewport) * 100vw) calc(var(--pi-end) / var(--viewport) * 100vw);

    @media (max-width:768px){
      --pi-start:18;
      --pi-end:18;
      --viewport:320;
    }
  }

  @media (max-width:768px){
    padding-inline: var(--container-offset, var(--offset-md));
  }
}

.cm-under__contents{
  --radius:20;

  width: calc(100% - 90 / 1440 * 100vw);
  margin-block-start: fluid(73px 146px);
  margin-block-end: fluid(36px 80px);
  background-color: var(--color-common-bg);
  border-radius: 0 calc(var(--radius) / 16 * 1rem) calc(var(--radius) / 16 * 1rem) 0;

  @media (max-width:768px){
    width: calc(100% - 18 / 320 * 100vw);
  }
}

.cm-under__contents-inner{
  padding-block-start: fluid(16px 48px);
  padding-block-end: fluid(40px 80px);
}


.cm-under__mainBody{
  display: grid;
  margin-block-start: fluid(32px 56px);
}

.cm-under__indexList{
  --row-gap:0;

  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--row-gap)/ 16 * 1rem) fluid(16px 32px);


}

.cm-under__indexListItem{

  & .link{
    font-size: fluid(14px 24px);
    color: var(--color-accent);
    letter-spacing: var(--tracking-normal);
    cursor: pointer;
    transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
    transition-property: color;


    &:hover{
      color: var(--color-link-hover);
      transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
      transition-property: color;
    }

  }
}

.cm-under__Footer{
  margin-block-start: fluid(64px 80px);
}

.cm-under__FooterItem{
  width: fit-content;
  margin : 0 0 0 auto !important;
  overflow: hidden;
}

.cm-under__bodyFooterBtn{
  @media (max-width:768px){
    display: none;
  }
}
