@charset "UTF-8";

.u-container {
  box-sizing: content-box;
  max-inline-size: var(--max-container-size, var(--container-size-md));
  padding-inline: var(--container-offset,var(--offset-md));
  margin-inline: auto;
}
