
.pm-about__title{
  margin-block-end: fluid(22px 32px);
  font-size: fluid(18px 36px);
  font-weight: 700;
  letter-spacing: var(--tracking-normal);
}

.pm-about__card{
  --radius:20;

  display: flex;
  flex-direction: row-reverse;
  gap: calc(var(--gap) / 16 * 1rem);
  align-items: center;
  justify-content: center;
  background-color: var(--base-background-color);
  border-radius: calc(var(--radius) / 16 * 1rem);


}

.pm-about__card + .pm-about__card{
  --mb-start:40;

  margin-block-start: fluid(28px 40px);
}

.pm-about__cardBodySubtitle{
  font-size: fluid(14px 24px);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: var(--tracking-normal);
}

.pm-about__cardBodyTitle{
  font-weight: 500;
  letter-spacing: var(--tracking-normal);

  & .name{
    display: inline-block;
  }
}

.pm-about__cardBodyTxt{
  font-weight: 400;
  letter-spacing: var(--tracking-normal);
}

.pm-about__cardImg{
  /* margin: 0 !important; */
  overflow: hidden;
  border-radius: calc(20 / 16 * 1rem);
}
