@charset "UTF-8";

.c-btn__link{
  --size:20;

  display: inline-grid;
  align-items: center;
  width: fit-content;
  color: var(--color-btn-txt);
  background-color: var(--color-accent);
}

.c-btn__link.is-common{

  display: inline-flex;
  gap: calc(8 / 16 * 1em);
  padding-block: calc(18 / 16 * 1em);
  padding-inline: calc(32 / 16 * 1em);
  border-radius: calc(var(--size) / 16 * 1rem);

  @media (max-width:1024px){
    --pi-min:24;
    --pi-max:32;
    --viewport:1024;

    padding-inline: clamp(calc(var(--pi-min) / 16 * 1em), calc(var(--pi-min) / var(--viewport) * 100vw), calc(var(--pi-max) / 16 * 1em));
  }
}

.c-btn__link.is-back{
  grid-template-areas:
    "txt1 arrow"
    "txt2 txt2";
  grid-template-columns: auto;
  gap: calc(5 / 16 * 1rem) 0 ;
  place-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  padding-block: calc(52 / 16 * 1em);
  padding-inline: calc(11 / 16 * 1em);
  border-radius: 50%;
}

.c-btn__linkTxt{
  display: block;
  font-size: calc(16 / 16 * 1em);
  font-weight: 500;
  line-height: 1  ;
}

.c-btn__link.is-common .c-btn__linkTxt{
  white-space: nowrap;
}

.c-btn__linkTxt.is-back{

  &:first-of-type.is-back{
    grid-area: txt1;
    font-family: var(--font-sans-en2);
    text-align: right;
  }

  &:last-of-type.is-back{
    grid-area: txt2;
    text-align: center;
  }
}

.c-btn__linkIcon{
  width: calc(12 / 16 * 1em);
  height: auto;
  aspect-ratio: 12 / 10;
}

.c-btn__linkIcon.is-back{
  grid-area: arrow;
}

.c-btn__linkIcon.is-site{
  aspect-ratio: 12 / 12;
  margin-top: 3px;
  transform: rotate(-45deg);
}
