.cm-f-body{
  display: grid;
  grid-template-areas:
    "logo nav"
    "dev info"
    "dev txt";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr minmax(320px, 50%);
    grid-template-columns: 1fr auto;
  gap: calc(40 / 16 * 1rem) 0;

  @media (max-width:768px){
    grid-template-areas:
    "logo"
    "nav"
    "dev"
    "info"
    "txt";
  }

}

.cm-f__bodyLogo{
  grid-area: logo;
}


.cm-f__bodyNav{
  grid-area: nav;
}

.cm-f__bodyDev{
  grid-area: dev;
}

.cm-f__bodyNavList,
.cm-f__bodyInfoList{
  display: flex;
  gap: calc(32 / 16 * 1rem);
  align-items: center;
  justify-content: flex-end;

  @media (max-width:768px){
    justify-content: center;
  }
}

.cm-f__bodyNavList{
  @media (max-width:768px){
    flex-direction: column;
  }
}

.cm-f__bodyLogoLink,
.cm-f__bodyNavList .item__link,
.cm-f__bodyInfoList .item__link{
  display: block;
  color: var(--color-accent);
}

.cm-f__bodyLogoLink{
  @media (max-width:768px){
    text-align: center;
  }

}

.cm-f__bodyNavList .item__link{
  font-size: calc(16 / 16 * 1rem);
  font-weight: 700;
}

.cm-f__bodyDevList .item{
  color: var(--color-dark);
}

.cm-h__navListItem,
.cm-f__bodyDevList .item,
.cm-f__bodyInfoList .item{
  list-style-type: none;
}


.cm-f__bodyDevList .item,
.cm-f__bodyInfoList .item__link{
  font-size: calc(14 / 16 * 1rem);
  font-weight: 500;
}


.cm-f__bodyInfo{
  grid-area: info;
  align-self: center;
  padding-block-end: calc(5 / 16 * 1rem);
}

.cm-f__bodyCopy{
  grid-area: txt;
  align-self: center;
  text-align: end;

  @media (max-width:768px){
    text-align: center;
  }
}

.cm-f__bodyCopyTxt{
  font-size: calc(10 / 16 * 1rem);
  font-weight: 500;
}
