.cm-f-body{
  display: grid;
  grid-template-areas:
    "logo nav"
    "empty empty"
    "dev info"
    "dev txt";
  grid-template-rows: auto calc(48 / 16 * 1rem) auto auto;
  grid-template-columns: 1fr minmax(320px, 50%);
  grid-template-columns: 1fr auto;

  @media (max-width:768px){
    display: block;
  }

}

.cm-f__bodyLogo{
  grid-area: logo;
  height: 100%;

  @media (max-width:768px){
    margin-block-end: clamp(32 / 16 * 1rem, 32 / 375 * 100vw, 48 / 16 * 1rem);
  }
}


.cm-f__bodyNav{
  grid-area: nav;
  align-self: center;
  height: 100%;

  @media (max-width:768px){
    margin-block-end: clamp(28 / 16 * 1rem, 32 / 375 * 100vw, 32 / 16 * 1rem);
  }
}

.cm-f__bodyDev{
  grid-area: dev;
  height: 100%;

  @media (max-width:768px){
    margin-block-end: clamp(28 / 16 * 1rem, 32 / 375 * 100vw, 32 / 16 * 1rem);
  }
}

.cm-f__bodyNavList,
.cm-f__bodyInfoList{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  @media (max-width:768px){
    justify-content: flex-start;
  }
}


.cm-f__bodyLogoLink,
.cm-f__bodyNavList .item__link,
.cm-f__bodyInfoList .item__link{
  display: block;
}

.cm-f__bodyLogoLink{
  font-size: fluid(16px 28px);
  font-weight: 700;
  letter-spacing: var(--tracking-normal);

  @media (max-width:768px){
    text-align: left;
  }
}


.cm-f__bodyNavList{
  gap: fluid(18px 32px);

  @media (max-width:768px){
    flex-direction: column;
    align-items: flex-start;
  }

  & .item__link{
    font-size: fluid(14px 18px);
    font-weight: 700;
    letter-spacing: var(--tracking-normal);
    transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
    transition-property: color;

    &:hover{
      color: var(--color-grey);
      transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
      transition-property: color;
    }

  }
}


.cm-f__bodyDevList{
  @media (max-width:768px){
    width: 100%;
    text-align: left;
  }

  & .item{
    --fs:14;

    font-size: calc(var(--fs) / 16 * 1rem);
    font-weight: 500;
    color: var(--color-dark);
    text-align: left;
    list-style-type: none;

    & .item_name{
      color: var(--color-accent);
      transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
      transition-property: color;


    &:hover{
      color: var(--color-link-hover);
      transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
      transition-property: color;
    }

    }
  }
}

.cm-f__bodyInfoList .item{
  list-style-type: none;
}

.cm-f__bodyInfo{
  --pb-start:8;

  grid-area: info;
  align-self: center;
  padding-block-start: calc(var(--pb-start) / 16 * 1rem);

  @media (max-width:768px){
    --pb-start:0;
    margin-block-end: clamp(32 / 16 * 1rem, 32 / 375 * 100vw, 48 / 16 * 1rem);
  }
}

.cm-f__bodyInfoList{
  gap: fluid(24px 32px);

  & .item__link{
    --fs:14;

    font-size: calc(var(--fs) / 16 * 1rem);
    font-weight: 500;
    color: var(--color-accent);
    transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
    transition-property: color;

    &:hover{
      color: var(--color-link-hover);
      transition: 0.45s cubic-bezier(0.05, 0.23, 0.21, 0.98);
      transition-property: color;
    }

  }
}


.cm-f__bodyCopy{
  grid-area: txt;
  height: 100%;
  margin-block-start: fluid(36px 42px);
  line-height: 1;
  text-align: end;

  @media (max-width:768px){
    /* margin-block-start: calc(4 / 16 * 1rem); */
    text-align: right;
  }
}

.cm-f__bodyCopyTxt{
  --fs:10;

  font-size: calc(var(--fs) / 16 * 1rem);
  font-weight: 500;
}

.hidden{
  display: none;
}
