.cm-f{
  --mb-start:160;

  margin-block-start: calc(var(--mb-start)/ 16 * 1rem);
}

.cm-f-inner{
  --pi:90;

  padding-block-start: fluid(28px 80px);
  padding-block-end: fluid(32px 56px);
  padding-inline: fluid(18px 90px);
}
